<div class="container">
  <!-- Spinner -->
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <!-- Título Dinâmico -->
  <h1 class="text-center mb-4">
    {{ isEditMode ? "Editar Corretor" : "Bem-vindo à Imóvel Guide!" }}
  </h1>

  <button
    class="btn btn-secondary mb-3"
    *ngIf="isEditMode"
    (click)="cancelEdit()"
  >
    Voltar
  </button>

  <!-- Formulário -->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <!-- Campos do formulário -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="name"
        ngModel
        required
        class="form-control"
        [(ngModel)]="currentUser.name"
      />
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        type="text"
        id="cpf"
        name="cpf"
        ngModel
        required
        class="form-control"
        (input)="formatCpf($event)"
        [(ngModel)]="currentUser.cpf"
        maxlength="14"
      />
      <div *ngIf="cpfError" class="text-danger">CPF inválido</div>
    </div>
    <div class="form-group">
      <label for="creci">CRECI</label>
      <input
        type="text"
        id="creci"
        name="creci"
        ngModel
        required
        class="form-control"
        [(ngModel)]="currentUser.creci"
      />
      <div *ngIf="creciError" class="text-danger">
        Digite pelo menos 3 números
      </div>
    </div>

    <!-- Botão dinâmico para Enviar ou Editar -->
    <button
      type="submit"
      class="btn btn-success btn-block"
      [disabled]="isLoading"
    >
      {{ isEditMode ? "Editar" : "Enviar" }}
    </button>
  </form>

  <!-- Tabela de Dados -->
  <table class="table table-hover mt-5" *ngIf="!isEditMode">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>CRECI</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ formatCpfDisplay(user.cpf) }}</td>
        <td>{{ user.creci }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="editUser(i)"
            [disabled]="isLoading"
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm ml-2"
            (click)="deleteUser(i)"
            [disabled]="isLoading"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
