<div class="container">
  <h1 class="text-center mb-4">
    {{ isEditMode ? 'Editar Corretor' : 'Bem-vindo à Imóvel Guide!' }}
  </h1>

  <!-- Spinner -->
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Aguarde...</span>
    </div>
  </div>

  <!-- Formulário -->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="name"
        [(ngModel)]="currentUser.name"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        type="text"
        id="cpf"
        name="cpf"
        [(ngModel)]="currentUser.cpf"
        required
        class="form-control"
        (input)="formatCpf($event)"
        maxlength="14"
      />
    </div>
    <div class="form-group">
      <label for="creci">CRECI</label>
      <input
        type="text"
        id="creci"
        name="creci"
        [(ngModel)]="currentUser.creci"
        required
        class="form-control"
      />
    </div>
    <button
      type="submit"
      class="btn btn-success btn-block"
      [disabled]="isLoading"
    >
      {{ isEditMode ? 'Editar' : 'Adicionar' }}
    </button>
  </form>

  <!-- Tabela -->
  <table *ngIf="!isEditMode" class="table table-hover mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>CRECI</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.cpf }}</td>
        <td>{{ user.creci }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="editUser(i)"
            [disabled]="isLoading"
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm ml-2"
            (click)="deleteUser(i)"
            [disabled]="isLoading"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
